@import "./global.scss";

.app {
    height: 100vh;

    .components {
        height: calc(100vh - 80px);
        width: 100%;
        position: relative;
        top: 80px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        > * {
            height: calc(100vh - 80px);
            width: 100vw;
            scroll-snap-align: start;
        }
    }
}
